/* RESUME */

@media print {
    @page {
        margin: 1in 1in 1in 1in;
    }
    .resume-top-header {
        text-align: center;
    }
    .resume-top-header > * > * {
        margin: 0;
    }
}

.resume-header {
    font-size: 2em;
    margin-bottom: 0;
}

.resume-entry {
    margin-bottom: 1em;
}

.resume-entry > * {
    margin: 0;
}

.entry-org {
    float: left;
}

.entry-org > * {
    display: inline-block;
}

.entry-org > .entry-name {
    font-weight: bold;
}

.entry-org > .entry-name::after {
    content: ",";
    font-weight: normal;
}

.entry-date {
    float: right;
}

.experience > .job-title {
    font-style: italic;
    float: left;
}

.skill-section {
    margin-bottom: 1em;
}

.skill-block {
    margin: 0;
}