---
on:
  push:
    branches:
      - main

jobs:
  build_site:
    name: Build the static site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Configure Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
      - name: Run build
        run: jekyll build
      - name: Archive artifiacts
        uses: actions/upload-artifact@v2
        with:
          name: site
          path: _site/*
  deploy_site:
    name: Deploy the site
    runs-on: ubuntu-latest
    needs: build_site
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Download site artifact
        id: download
        uses: actions/download-artifact@v2
        with:
          name: site
      - name: Upload site
        run: |
          aws s3 sync . s3://${{ secrets.AWS_BUCKET_NAME }} --delete
        working-directory: ${{ steps.download.outputs.download-path }}

